<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Title</title>
</head>

<body style="background-color:whitesmoke">
<h1 style="background-color:darkcyan;text-align:center;margin:auto;color:#8df8bb;font-family: sans-serif;padding:20px">{{employee.first_name}} {{employee.last_name}}</h1>
<table class="styled-table">
    <thead>
        <tr>
            <th>Router Name</th>
            <th>Full-Name</th>

        </tr>
    </thead>

    <tbody>
        {% for d in news %}
        <tr>
            <td>{{d.router_name}}</td>
            <td>{{d.post}}</td>

        </tr>
        {% endfor %}

    </tbody>
</table>

</body>
</html>